# Firebase の設定値（.envファイルにコピーして使う）
# このファイル自体は GitHub に上げて OK。
# .env は絶対に GitHub に上げないこと！

REACT_APP_FIREBASE_API_KEY=ここにAPIキーを貼る
REACT_APP_FIREBASE_AUTH_DOMAIN=ここにAuthDomainを貼る
REACT_APP_FIREBASE_PROJECT_ID=ここにProjectIDを貼る
REACT_APP_FIREBASE_STORAGE_BUCKET=ここにStorageBucketを貼る
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=ここにMessagingSenderIDを貼る
REACT_APP_FIREBASE_APP_ID=ここにAppIDを貼る
